@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  background-color: black;
  color: white;
}

html {
  --scrollbarBG: black;
  --thumbBG: #363636;
  --thumbBGHover: #494949;
}

body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
}
body::-webkit-scrollbar-thumb:hover {
  background-color: var(--thumbBGHover);
}

@keyframes scaleAnim {
  0% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeAnim {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

* {
  -webkit-tap-highlight-color: transparent !important;
}
